$primary-050: #e9e1f7;
$primary-100: #c8b5ea;
$primary-200: #a383dd;
$primary-300: #7e51cf;
$primary-400: #622cc4;
$primary-500: #4607ba;
$primary-600: #3f06b4;
$primary-700: #3705ab;
$primary-800: #2f04a3;
$primary-900: #200295;
$primary-A100: #c0a3ff;
$primary-A200: #9e70ff;
$primary-A400: #7c3dff;
$primary-A700: #6a23ff;
